---
import MainLayout from "../layouts/MainLayout.astro"

 
---

<MainLayout title="about page">
    <div>
        About us
    </div>
    <script>
       console.log("Hello world");
    </script>
</MainLayout>
